<section id="testimonials">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Enjoy your meal</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Meet Jennifer at Stanzione 87. </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="profile">
          <div class="pic"><img src="/images/jenniferlawrence.jpeg" alt=""></div>
          <h4>Jennifer Lawrence</h4>
          <span>"Where's the food?"</span>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-2">
        <button> Start a conversation </button>
      </div>
      <div class="col-md-5">
      </div>
    </div>

  </div>
</section>
