<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      <div class="hero-logo">
        <img class="titlelogo" src="/images/logo.png">
      </div>

      <h1>the friendship app for foodies</h1>
      <h2>We <span class="rotating">meet., eat., bond.</span></h2>

    <% if (typeof currentUser !== 'object') { %>
      <div class="actions">
        <a href="/signup" class="btn-get-started">Sign Up</a>
        <a href="/login" class="btn-services">Log In</a>
      </div>
    <% } %>
    </div>
  </div>
</section>
